@import "../../node_modules/normalize.css/normalize.css";
@import "./wave.css";

@font-face {
  font-family: "JetBrains Mono";
  src: url("../../assets/JetBrainsMono-Regular.eot") format("embedded-opentype"),
    url("../../assets/JetBrainsMono-Regular.woff2") format("woff2"),
    url("../../assets/JetBrainsMono-Regular.woff") format("woff"),
    url("../../assets/JetBrainsMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-font-feature-settings: "liga" on, "calt" on;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "liga" on, "calt" on;
  text-rendering: optimizeLegibility;
  font-family: "JetBrains Mono";
}

body {
  background-color: #35363a;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.clock {
  font-size: 120px;
  margin-bottom: 20px;
}

#search {
  background-color: #202124;
  display: flex;
  border-radius: 5px;
  width: 450px;
  margin-bottom: 80px;
}

#search .q {
  flex: 1;
  background: none;
  outline: none;
  border: none;
  color: white;
  line-height: 40px;
  padding-left: 15px;
  font-size: 25px;
}

#search .w {
  flex: 0;
  background: none;
  outline: none;
  border: none;
  color: white;
  font-size: 25px;
  line-height: 40px;
  padding-right: 10px;
}
